/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2;

	/*default font*/
	font-family: 'Montserrat', sans-serif;
}

/*target the html element called body*/
/*start body*/
body {

	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,179,71,0.5)), url('../images/bg.jpg');
    /*background-image: linear-gradient(rgba(17, 126, 112, 0.75), rgba(0, 88, 255, 0.45)), url('https://media.giphy.com/media/35NGT2lm6mfHlNAkMu/giphy.gif');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*vh = viewport height; the height of the screen*/
	height: 100vh;

}

.container{
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

/*end body*/
/*start h1*/
h1 {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 7px;
	background-color: #333;
	font-family: 'Bebas Neue', cursive;
}
/*end h1*/

/*start h2*/
h2 {
	font-family: 'Bebas Neue', cursive;
	color: #faad52;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;

	/*padding vs margin*/
	/*margin: 10px;*/
	padding: 10px;
}
/*end h2*/

/*target element with class bio*/

.bio{
	font-size: 18px;
	background-color: rgba(51, 51, 51, 0.5);
	line-height: 1.75;
	padding: 5px;
}

/*end bio*/

/*target element with the id me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: #ffb347;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end me*/